.slots-padding{
    padding-top: 15%;
}
.day-padding{
    margin-bottom: -10%;
}
.main-card{
    position: fixed;
    align-content: center;
}
.btn-bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
ion-card{
    padding-top: 15%;
}
.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  .padded{
    width: 75%;
    padding-left: 15px;
  }