.slots-padding{
    padding-top: 15%;
}
.day-padding{
    margin-bottom: -10%;
}
.main-card{
    position: fixed;

    top:15%;
}
.btn-bottom {
    position: fixed;
    left: 30%;
    bottom: 0px;
    right: 30%;
}