<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="headerlogo padded" src="../../assets/icon/logo-finaledu.png"></ion-img>
 </ion-toolbar>
</ion-header>

<ion-content class="main-card">
  <ion-card>
    <ion-card-content>
            <ion-item>
              <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
              <ion-datetime [min]="minDate" placeholder="select Date" [max]="maxDate" displayFormat="MMM DD YYYY" (click)="date_selection()" pickerFormat="MMM DD YYYY"></ion-datetime>
            </ion-item>      
    </ion-card-content>
    
    <ion-card  >
      <ion-card-content>   
        <ion-icon ios="ios-time" md="md-time"></ion-icon>
        select slot:      
        <div class="day-padding">   
        <ion-segment [(ngModel)]="segment" *ngFor="let x of data.day_part">
          <ion-segment-button value="morning" >
           {{x.day_part1}}
          </ion-segment-button>
          <ion-segment-button value="afternoon">
            {{x.day_part2}}
           </ion-segment-button>
           <ion-segment-button value="evening">
            {{x.day_part3}}
           </ion-segment-button>
         
        </ion-segment>
      </div>
      
        <div [ngSwitch]="segment" class="slots-padding">
          <ion-segment *ngSwitchCase="'morning'">
            <ion-segment-button> 10:00 am  </ion-segment-button>
            <ion-segment-button> 10:00 am  </ion-segment-button>
          </ion-segment>
          <ion-segment *ngSwitchCase="'afternoon'">
            <ion-segment-button> 01:00 am  </ion-segment-button>
            <ion-segment-button> 01:00 am  </ion-segment-button>
          </ion-segment>
          <ion-segment *ngSwitchCase="'evening'">
            <ion-segment-button> 04:00 am  </ion-segment-button>
            <ion-segment-button> 04:00 am  </ion-segment-button>
          </ion-segment>
        </div>
      </ion-card-content>
  </ion-card>
  <ion-button class="btn-bottom" click='presentAlertConfirm()'>submit</ion-button>
  </ion-card>
</ion-content>
