.example-container {
    display: flex;
    flex-direction: column;
  }

.personalDetails{
  padding:3% 3%;
  font-weight: 500;
  color:#65343a;
}
  
  .example-container > * {
    width: 100%;
  }
  ion-button
  {
      width: 100%;
  }
  form{
      width: auto;
      height: auto;
  }

  .saveBtn ion-button{
    --background:#e7c24c;
    color:#65343a;
  }
  .saveBtn{
    padding:2%;
  }

