.enrollmenttabs ion-label{
    font-size: x-small;
    color: #65343A;
    font-weight: 600;
}

.enrollmenttabs{
    --background:#e7c242;
}

.enrollmenttabs ion-icon{
    color : #65343A;
}
.padded{
    width: 75%;
    padding-left: 15px;
  }