.card-title1{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: large;
    //margin-top: 60%;
}

.icon{
    height:50%;
    width:50%;
    color:white;
    margin-left: 25%;
    margin-top: 10%;
}

.card-title2{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
   // margin-top: 50%;
}

    
.resumedummy{
    --color : var(--ion-color-favorite);
    background-color: #65343a;
    height : 55%;
    margin: 0px;
}

.center{
    font-weight: 600;
    margin: 0px auto;
    width: 55%;
    height:8%;
    font-size: large;
    --background:#e7c24c ;
    bottom:10px;
    position: relative;
    top: -4.5%;
}

.btn{
    height: 10%;
}

.previewButton{
font-weight: 550;
color:#65343a;
position: relative;
margin:auto 2% ;
margin-top: 4vh;
height:45%;
min-height: 45%;
--background: rgba(245, 245, 245, 0.459);
}

.lowerCard{
height: 20%;
min-height: 15%;
background-color: rgba(245, 245, 245, 0.26);
}

