<!-- <ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card style="text-transform: none;" class="resumedummy" >
    <ion-icon class="icon"  ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon> 
      <div class="card-title1">
        You need to upload your 
      </div>
      <div class="card-title2">
          Resume
      </div>
      
  </ion-card>

  <ion-button (click)="Pickfile()" style="text-transform: none;" class="center" expand="block" size="large" horizontal="end" shape="round">
    <ion-icon   ios="ios-document" md="md-document"></ion-icon>   
      Upload
  </ion-button> 

  <ion-card class="lowerCard">
    <ion-button style="text-transform: none;" class="previewButton" expand="block" >
      <ion-icon name="document"></ion-icon>
      Existing doc
    </ion-button>
  </ion-card>



</ion-content>

<!--<div>
    {{returnpath}}
  </div>-->