.center{
    display: block;
    margin: auto;
}
ion-card{
    margin-top: 25%;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

}

.custom-btn {
  color: #65343a;
  background-color: #e7c232;
  font-weight: 600;
}

.card-title{
  text-align: center;
  font-size: medium;
}
.logo{
  width: 200px;
}
.btn-padding{
  padding-top: 5px;
  margin-left: 10px;
  margin-right: auto;
}
.label-padding{
  padding-left: 10%;
}

.footerimage{

  position: absolute;
  bottom: 0;
}