<ion-header> </ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <img src="../../assets/icon/logo-finaledu.png" class="logo center" />
        <ion-card-title class="label-padding" class="card-title"
          >Reset Password</ion-card-title
        >
      </ion-card-header>
      <form [formGroup]="forgotpasswordform" (ngSubmit)="submit()">
        <mat-list class="label-padding">
          <mat-list-item>
            <i class="material-icons">
              email
            </i>
            <mat-form-field class="example-full-width" appearance="legacy">
              <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>
          </mat-list-item>
          <mat-error *ngFor="let error of errormessage.email">
            <ng-container
              *ngIf="email.hasError(error.type) && (email.dirty ||email.touched)"
            >
              <small class="errormessage">{{error.message}}</small>
            </ng-container>
          </mat-error>
          <button
            mat-raised-button
            class="custom-btn center"
            [disabled]="!forgotpasswordform.valid"
          >
            Send Verification mail
          </button>
        </mat-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
