
    ion-content{
       --background:none;
       background-image: url('../../assets/img/tower.jpg');
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    }
    ion-card{
        background-color: blanchedalmond;
    }
    .center{
        display: block;
        margin: auto;
    }
    ion-card-content{
        align-items: center;
    }
    small{
        padding-left: 10%;
    }
    ion-button{
        background-color: #f16338;     
        text-align: center;  
        width: 75%;
    }
    input{
        color: black;
        text-align:start ;
    }
    ::ng-deep .mat-form-field-label {
        /*change color of label*/
        color:black !important;
       }
       .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }